<div class="bg">

<div class="row">
    <!-- <img class="img-responsive" src="assets/zombie.jpg"> -->
<div class="test">
    <img class="img-responsive" src="https://media-exp1.licdn.com/dms/image/C4E03AQFX1O_4xvoNcA/profile-displayphoto-shrink_200_200/0/1637578200838?e=1651104000&v=beta&t=R0W8_-I5tK3-MRIlX69-QR3xrI6JBJrVtXbFWPo588E">
</div>
<div class="test">
    <mat-card>
<mat-list-item>
    <br>
    <mat-form-field class='input-fields' appearance='outline'>
        <mat-label>Insert your name</mat-label>
        <input matInput placeholder="Hazul Grace Lebron James">
    </mat-form-field>

    <mat-form-field class='input-fields' appearance='outline'>
        <mat-label>About me</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    
</mat-list-item>
</mat-card>


<mat-card>
    <mat-selection-list #shoes>
        <mat-label>What are my hobbies</mat-label>
        <br>
        <mat-list-option class="hazul" *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
      
      <p>
        Options selected: {{shoes.selectedOptions.selected.length}}
      </p>
    </mat-card>
</div>
</div>

</div>
