<div class="bg">

<div class="row">
    <!-- <img class="img-responsive" src="assets/zombie.jpg"> -->
<div class="test">
    <img class="img-responsive" src="assets/hazul.jpg">
</div>
<div class="test">
    <mat-card>
<mat-list-item>
    <br>
    <mat-form-field class='input-fields' appearance='outline'>
        <mat-label>Insert your name</mat-label>
        <input matInput type="text" name='hazul' [(ngModel)]='hazul' placeholder="Hazul Grace Lebron James">
    </mat-form-field>

    <mat-form-field class='input-fields' appearance='outline'>
        <mat-label>About me</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>

    <!-- <form [formGroup]="profileForm">

        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName">
      
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName">

      
      </form> -->
    
</mat-list-item>
</mat-card>


<mat-card>
    <mat-selection-list #shoes>
        <mat-label>What are my hobbies</mat-label>
        <br>
        <mat-list-option class="hazul" *ngFor="let shoe of typesOfShoes">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>
      
      <p>
        Options selected: {{shoes.selectedOptions.selected.length}}
      </p>
    </mat-card>
</div>
</div>

</div>
