.test {
    float: left;
    width: 30%;
}

.row {
    /* background-color:antiquewhite; */
}

.img-responsive {
    padding: 50px;
    float: right;
}

mat-card {
    padding: 10px;
    margin-top: 40px;
    opacity: 0.8;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.input-fields {
    width: 100%;
}

.mat-list-item {
    width: 50%;
}

.bg {
    /* The image used */
    background-image: url("src/assets/zombie.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

